.productList {
    .empty-list {
        width: 450px;
        text-align: center;
        margin: 100px auto 0;

        > div {
            font-size: 17px;
            line-height: 24px;
            font-weight: 500;
        }

        button {
            width: 100%;
            height: 50px;
            margin-top: 50px;
            border: none;
            outline: none;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), #242EDB;
            box-shadow: 0px 8px 8px rgba(54, 122, 255, 0.03), inset 0px -2px 0px 1px rgba(0, 0, 0, 0.08);
            color: #FFF;
            border-radius: 12px;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.01em;
            box-sizing: border-box;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.7;
        }

    }

    .list {
        > div {
            padding: 11px 18px;
            box-sizing: border-box;
            border-bottom: 1px solid #E2E2E2;
            border-left: 3px solid #FFF;
        }

        > div.current {
            border-left-color: rgb(65, 82, 138);
        }

        .head {
            height: 73px;

            .has-sort {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;

                * {
                    fill: #CECECE;
                }

                > div:nth-child(2) {
                    cursor: pointer;
                }

                .sort-wrap {
                    margin-right: 7px;

                    .icon-svg-Sort {
                        width: 22px;
                        height: 22px;
                    }
                }

                .desc {
                    transform: rotate(180deg);
                }
            }

            .has-sort.current {
                > div:nth-child(1) {
                    cursor: pointer;
                }

                > div:nth-child(1):hover {
                    opacity: 0.5;
                }

                * {
                    fill: #000;
                    color: #000;
                }
            }
        }

        .item {
            height: 71px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            > div {
                box-sizing: border-box;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }

            .checkBox-wrap {
                width: 22px;
                height: 22px;
                margin-right: 18px;

                .checkbox {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    outline: none;
                    border: 1px solid rgb(178, 179, 185);
                    border-radius: 4px;
                    accent-color: rgb(65, 82, 138);
                    appearance: none;
                    cursor: pointer;
                }

                input:checked {
                    background-color: rgb(65, 82, 138);
                }
            }

            .image {
                width: 48px;
                height: 48px;
                margin-right: 18px;
                border: 1px solid rgb(236, 236, 236);
                border-radius: 8px;
                background-color: rgb(196, 196, 196);

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .name {
                flex: 1;

                > div:nth-child(1) {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    color: #222222;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 317px;
                }

                > div:nth-child(2) {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #B2B3B9;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 317px;
                }
            }

            .vendor,
            .rating {
                width: 257px;
                text-align: center;
            }

            .artic,
            .price {
                width: 292px;
                text-align: center;
            }

            .vendor {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                font-family: 'Open Sans';
                color: #000000;
            }

            .rating {
                .red {
                    color: #F11010;
                }
            }

            .price {
                span {
                    color: #999;
                }
            }

            .control {
                width: 299px;
                padding-left: 75px;
                padding-right: 109px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                > div:hover {
                    opacity: 0.7;
                }

                .add {
                    width: 52px;
                    height: 27px;
                    background-color: rgb(38, 46, 210);
                    border-radius: 13px;
                }

                .menu {
                    width: 32px;
                    height: 32px
                }
            }
        }

        .item.head {
            * {
                font-weight: 600;
                color: rgb(178, 179, 185);
            }
        }
    }
}
