.icon {
    svg {
        width: 100%;
        height: 100%;
    }
}

.icon-svg-Add,
.icon-svg-Eye,
.icon-svg-Lock,
.icon-svg-Search,
.icon-svg-User {
    width: 24px;
    height: 24px;
}

.icon-svg-Arrow,
.icon-svg-Plus, 
.icon-svg-Sort {
    width: 22px;
    height: 22px;
}

.icon-svg-ArrowLeft,
.icon-svg-ArrowRight {
    width: 20px;
    height: 20px;
}

.icon-svg-Close {
    width: 17px;
    height: 18px;
}

.icon-svg-Logo,
.icon-svg-Menu {
    width: 32px;
    height: 32px;
}
