.form-add {
    display: block;
    position: relative;

    .button-close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #202020;
        margin-bottom: 30px;
    } 

    .double {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        > div {
            width: 242px;
        }
    }

    label {
        display: block;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.015em;
        margin-bottom: 6px;
        color: #232323;
        font-weight: 500;
    }

    input {
        margin-bottom: 16px;
        width: 100%;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.015em;
        padding: 10px 12px;
        border: 1px solid #EDEDED;
        border-radius: 7px;
        background: #FFFFFF;
        color: #232323;
    }

    button {
        width: 100%;
        height: 39px;
        border: none;
        outline: none;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), #242EDB;
        box-shadow: 0px 8px 8px rgba(54, 122, 255, 0.03), inset 0px -2px 0px 1px rgba(0, 0, 0, 0.08);
        color: #FFF;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.01em;
        box-sizing: border-box;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.7;
    }

    .error-input {
        color: red;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
        margin-top: -12px;
    }

    .success-message {
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
        font-size: 16px;
        line-height: 21px;
    }
}
