@use './FontsStyles.scss';
@use './ResetStyles.scss';

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFF;

    .root {
        height: 100%;
    }
}
