.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .prev,
    .next {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    > .prev:hover,
    > .next:hover {
        opacity: 0.7;
    }

    .pages {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 11px;

        > div {
            width: 30px;
            height: 30px;
            margin-left: 8px;
            border: 1px solid #ECECEB;
            border-radius: 4px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            line-height: 1.2;
            color: #B2B3B9;
        }

        > div:hover {
            opacity: 0.7;
        }

        > div:nth-child(1) {
            margin-left: 0;
        }

        .current {
            color: #FFF;
            border-color: rgb(122, 127, 227);
            background-color: rgb(122, 127, 227);
        }
    }
}
