.products {
    width: 100%;
    min-height: 100%;
    padding: 20px 0 0;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .search,
    .body {
        background-color: #FFF;
        box-sizing: border-box;
    }

    .body {
        flex: 1;
        padding: 30px 30px 37px;

        .title {
            height: 42px;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > div:nth-child(1) {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                color: #333333;
            }

            > div:nth-child(2) {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .reset-search {
                    box-sizing: border-box;
                    width: 42px;
                    height: 42px;
                    margin-right: 8px;
                    background: #FFFFFF;
                    border: 1px solid #ECECEB;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .reset-search:hover {
                    opacity: 0.7;
                }

                .add {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 147px;
                    height: 42px;
                    background: #242EDB;
                    border-radius: 6px;
                    cursor: pointer;

                    span {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 26px;
                        color: #EBF3EA;
                        display: inline-block;
                        margin-left: 15px;
                    }
                }

                .add:hover {
                    opacity: 0.7;
                }
            }
        }

        .productList-wrap {
            margin-bottom: 40px;
        }

        .loader-wrap {
            height: 500px;
        }

        .pagination-wrap {
            flex: none;
            height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .error-productlist {
            width: 450px;
            text-align: center;
            margin: 100px auto 0;

            > div {
                font-size: 17px;
                line-height: 24px;
                font-weight: 500;
                color: red;
            }

            button {
                width: 100%;
                height: 50px;
                margin-top: 50px;
                border: none;
                outline: none;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), #242EDB;
                box-shadow: 0px 8px 8px rgba(54, 122, 255, 0.03), inset 0px -2px 0px 1px rgba(0, 0, 0, 0.08);
                color: #FFF;
                border-radius: 12px;
                font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: -0.01em;
                box-sizing: border-box;
                cursor: pointer;
            }

            button:hover {
                opacity: 0.7;
            }

        }
    }
}
