.search {
    flex: none;
    height: 100px;
    padding: 26px 30px;
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;

    > div {
        box-sizing: border-box;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.02em;
        margin-right: 316px;
        color: #202020;
    }

    .search-wrap {
        height: 48px;
        width: 1023px;
        padding: 12px 20px;
        background: #F3F3F3;
        display: flex;
        border-radius: 8px;

        .icon {
            width: 24px;
            height: 24px;
            padding-right: 8px;
        }

        input {
            flex: 1;
            height: 24px;
            padding: 0;
            margin: 0;
            outline: none;
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #999999;
            background-color: transparent;
        }
    }
}
